.home-blocks {
	color: #ffffff;
	margin-top: -250px;
	z-index: 3;
	.home-block {
		margin-bottom: 200px;
		justify-content: center;
		&__index {
			order: 2;
			margin-top: 38px;
			font-size: 240px;
			line-height: 1;
			letter-spacing: 0;
			font-weight: 700;
			opacity: 0.1;
		}

		&__mini-title {
			font-style: normal;
			font-weight: 800;
			font-size: 18px;
			font-family: $font-glorybold;
			line-height: 22px;
			letter-spacing: 6px;
			margin-top: 141px;
			margin-bottom: 27px;
			text-transform: uppercase;
			color: #fbd784;
		}

		&__title {
			font-family: $font-roman;
			//font-weight: 600;
			font-size: 64px;
			line-height: 77px;
		}

		&__content {
			font-family: $font-glorybold;
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 32px;
			margin: 27px 0;
		}
		.home-block__image {
			img {
				height: 100%;
				object-fit: cover;
			}
			
		}
		.home-block__link {
			a {
				color: $primary-variant;
				font-family: $font-glorybold;
			}
			img {
				transform: rotate(-90deg);
				width: 10px;
				margin-bottom: 0;
				margin-left: 8px;
			}
		}
		&:nth-child(2n) .home-block__image {
			order: 1 !important;
			//display: none;
			//border: 5px solid red;
		}
	}
}

@media (min-width: 992px) {
	.home-blocks {
		color: #ffffff;

		.home-block {
			margin-bottom: 200px;
		}
	}
}
