.product-card {
	border-radius: 8px;
	box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 40px;
	.card-content {
		width: 100%;
		border-radius: 12px;
		height: 320px;
		overflow: hidden;
		.media.product-header {
			height: 220px;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
	.product-body {
		padding: 16px 12px 0 12px;
		.product-title,
		.product-author {
			font-weight: bold;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			color: $on-secondary;
			line-height: 1;

			letter-spacing: 0.00735em;
			text-overflow: ellipsis;
		}
		.product-title {
			margin-bottom: 10px;
		}

		.product-author {
			font-weight: normal;
			font-size: 15px;
		}
	}
	.btns {
		padding: 8px;
		.btn {
			width: 100%;
			border-radius: 7px;
			background: $primary-color;
			font-weight: 700;
			color: $surface;
			box-shadow: 0 4px 8px rgba(50, 184, 76, 0.16);
		}
		.btn.remember {
			background: $warning;
		}
	}
}
@media (max-width: 768px) {
	.product-card {
		box-shadow: none;
		// position: relative;
		margin: 0 0 8px 0;
		background: $surface;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.card-content {
			border-radius: 8px;
			height: auto;
			width: 80%;
			padding: 8px;
			display: flex;
			justify-content: space-between;
			.media.product-header {
				min-width: 70px;
				height: 70px;
				width: 20%;
			}
			.product-body {
				width: 70%;
				padding: 0;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				.product-title,
				.product-author {
					font-size: 16px;
					line-height: 24px;
					height: auto;
					margin-bottom: 4px;
				}
				.product-author {
					-webkit-line-clamp: 1;
					font-size: 14px;
					margin-bottom: 0;
				}
			}
		}
		.btns {
			padding: 8px;
			.btn {
				white-space: nowrap;
				width: 20%;
				padding: 6px;
				width: auto;
				border-radius: 6px;
				font-size: 10px;
				height: fit-content;
				// position: absolute;
				// top: 0;
				// height: 100%;
				// right: 0;
				// writing-mode: vertical-rl;
				// text-orientation: upright;
			}
		}
	}
}
