.footer {
	margin-top: 20px;

	.footer-top {
		padding: 80px 0;
		a.logo {
			img {
				width: 250px;
			}
		}
		.logo-title {
			p {
				font-size: 18px;
				line-height: 32px;
				margin-top: 24px;
				color: $surface;
				letter-spacing: 1px;
        font-family: $font-glorybold;
			}
		}
		span {
			padding-top: 120px;
			color: $surface;
      font-family: $font-light;
      opacity: 0.5;
      display: block;
    }
    .menu-title{
      color: $primary-variant;
      font-family: $font-glorybold;
    }
	}
}
.mobile-footer {
	display: none;
}
@media (max-width: 768px) {
	.footer {
		display: none;
	}
	.mobile-footer {
		display: block;
		width: 100%;
		padding: 1rem 0.5rem;
		position: fixed;
		bottom: 3px;
		margin-bottom: -5px;
		background-color: #fff;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		z-index: 2;
		box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.205);

		ul {
			list-style-type: none;
			margin: 0;

			li {
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: 11px;
				transition: all 0.3s;
				span {
					color: $on-secondary;
					white-space: nowrap;
				}
			}
			li.active {
				span {
					color: $primary-color;
				}
				svg {
					path {
						fill: $primary-color;
					}
				}
			}
		}
	}
}
